/**
Generic.css
This stylesheet specifies the styling for the whole page generally, covering the
basic elements. Specific items the occur often or dynamically are styled in their
own stylesheet.
@author Robert Hardy
@since 2018-07-11
Part of the rarh.io project.
 */
html {
    /*width: 100%;*/
    /*height: 100%;*/
}

body {
    text-align: center;
}

header {
    display: grid;
    text-align: center;
}

header h1 {
    -ms-grid-row: 1;
    grid-row: 1;

}

header p {
    grid-row: 2;
}

main {
    display: grid;
}

main #description {
    grid-row: 1;
    max-width: 300px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

main #lists-container {
    grid-row: 2;
}

footer {

}