/**
Generic.css
This stylesheet specifies the styling for the whole page generally, covering the
basic elements. Specific items the occur often or dynamically are styled in their
own stylesheet.
@author Robert Hardy
@since 2018-07-11
Part of the rarh.io project.
 */
body {
    width: 100vw;
    height: 100vh;
    font-size: 100%;
    text-align: center;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Garamond", serif;
}

body, h1, h2, h3, h4, h5, h6 {
    font-size-adjust: 0.5;
}

header {
    display: grid;
    text-align: center;
    background: #2e4a62;
    color: #F0EDE5;
}

/* Header
 * Specific device sizes apply.
 */
header h1 { /* Mobile */
    -ms-grid-row: 1;
    grid-row: 1;
    margin: 5px 0 5px 0;
    text-transform: capitalize;
    font-family: "Dancing Script", serif;
    font-weight: normal;
    font-size: 2em;
    /* 2x body copy size = 32px */
    line-height: 1.25;
    /* 45px / 36px */
}

@media (min-width: 43.75em) {
    /* Tablet */
    header h1 {
        font-size: 2.5em;
        /* 2.5x body copy size = 40px */
        line-height: 1.125;
    }
}

@media (min-width: 56.25em) {
    /* Desktop */
    header h1 {
        font-size: 3em;
        /* 3x body copy size = 48px */
        line-height: 1.25;
        /* keep to a multiple of the 20px line height
        and something more appropriate for display headings */
    }
}

/* Header paragraph text */
header p {
    grid-row: 2;
    margin: 0 0 5px 0;
    font-style: italic;
}

/* Normal text sizes per device */
p { /* Mobile */
    font-size: 1em;
    /* equivalent to 16px */
    line-height: 1.25;
    /* equivalent to 20px */
}

@media (min-width: 43.75em) {
    /* Desktop */
    p {
        font-size: 1em;
        /* equivalent to 16px */
        line-height: 1.375;
        /* equivalent to 22px */
    }
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    border-top: 3px #F0EDE5 double;
    border-bottom: 3px #F0EDE5 double;
    background: #B4B7BA;
}

main #description {
    max-width: 550px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    text-transform: initial;
    padding: 0 10px 0 10px;
}

footer {
    background: #2e4a62;
}

footer a {
    text-decoration: none;
    color: #F0EDE5;
}

/* Use for hiding elements without JQuery */
.hide {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}

