/**
field.css
This stylesheet specifies the styling for each field item.
@author Robert Hardy
@since 2018-07-11
Part of the rarh.io project.
 */


/* When the X button is in the reject list */
.field {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition-duration: 0.3s;
}

/* Button text sizes per device */
.field button { /* Mobile */
    color: #C0AB8E;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 1.25em;
    padding: 5px;
    /* equivalent to 16px */
}
@media (min-width: 43.75em) {
    /* Desktop */
    .field button {
        font-size: 1em;
        /* equivalent to 16px */
    }
}

/* Apply a red circle background to the X button if its in reject list. */
.reject-X-button {
    border-radius: 50%;
    background-color: #984B43 !important; /* Have to be used here :( */
    color: #F0EDE5 !important;
    padding: 0 5px 0 5px !important;
}

/* Field Labels */
.field-label {
    display: inline-block;
    min-width: 20px;
    height: 28px;
    font-family: "Cormorant Garamond", serif;
    font-weight: normal;
    font-size: 1em;
    padding: 0 5px 0 5px;
    /* equivalent to 16px */
    line-height: 1.5;
    /* equivalent to 20px */
}

/* Field input text box */
.field input[type=text] {
    background: #F0EDE5;
    border-bottom: 1px solid #C0AB8E;
    border-left: 1px solid #C0AB8E;
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 4px;
    width: 150px;
    padding: 0 0 1px 4px;
    margin: 0 5px 0 0;
    box-sizing: border-box;
    font-family: "Dancing Script", serif;
    font-size: 1.25em;
    /* 1.125x body copy size = 18px */
    line-height: 1.25;
}

.field input[type=text]:focus {
    border: 1px solid #C0AB8E; /* Add a border all around */
    border-radius: 4px;
}


::placeholder {
    color: #C0AB8E;
    opacity: 1;
    font-style: italic;
}